@page
@using Microsoft.AspNetCore.Identity
@using ArtHut.Data.Models;
@using ArtHut.Areas.Identity.Pages.Account
@using ArtHut.Business.Services.Interfaces;
@using System.Globalization;
@inject UserManager<User> UserManager;
@inject ICategoriesService _categoriesService;
@model ArtHut.Pages.Messages.OffersModel
@{
	ViewData["ActivePage"] = MessagesNavPages.Offers;
}
<head>
	<link rel="stylesheet" href="~/css/Messages.css" asp-append-version="true" />
</head>

<div class="user_background container-fluid fontSul"></div>
<div class="container mycontainer">
	<div class="row justify-content-center  align-self-center border-bottom p-1"> <h4 class="justify-content-center  align-self-center d-flex m-0">Messages</h4> </div>
	<div class="row">
		<div class="col-3 d-flex flex-column ">
			<div class="justify-content-center align-self-center row">
				@if (@UserManager.GetUserAsync(User).Result.ProfilePic==null)
				{
					<img src="~/css/imgs/Profil_Img.jpg" class=" ProfileImg p-0" />
				}
				else
				{
					<img src="data:image/png;base64,@Convert.ToBase64String(@UserManager.GetUserAsync(User).Result.ProfilePic)" class=" ProfileImg p-0  " />
				}
			</div>
			<div class=" align-self-center row mt-2">
				@if (@User.Identity!.Name! != UserManager.GetUserId(User))
				{
					<p class="mt-5 fs-5 text-wrap fontSul">@User.Identity!.Name!</p>
				}
				else
				{
					<p class="mt-5 fs-5 text-wrap fontSul mb-2">An Arthut user</p>
				}
			</div>
			<div class=" align-self-center row fontSulLight ">
				<p>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-geo-alt-fill color_red pb-1" viewBox="0 0 16 16">
						<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
					</svg>@RegionInfo.CurrentRegion.EnglishName
				</p>
			</div>

			<partial name="MessagesNav" />
		</div>
		<div class="col-9">
			@foreach (var Item in Model.SoldProducts.OrderByDescending(x => x.Id))
			{
				<div class=" bg-white ps-5 pe-5 pt-4 pb-4 mb-3">
					<div class="row fontSulLight" style="">
						<div class="col-3 p-0"><img class="w-100" style="height:170px; object-fit: cover;" src="data:image/png;base64,@Convert.ToBase64String(Model.GetProductMainImg(Item.Id))" alt="Product image"></div>
						<div class="col  ">
							<div class="row ">
								<div class="col-4 ">
									<a asp-area="" asp-route-id="@Item.Id" asp-page="/Product" class="row color_change_red text-decoration-none  ps-3 txt_overflow">@Item.Name</a>
									<div class="row ps-3">
										€@Item.Price
									</div>
									<div class="row ps-3">@_categoriesService.GetCategoryAsync((int)Item.CategoryId).Result.Name </div>
									<div class="row ps-3"> @Item.Size cm</div>

								</div>
								<div class="col p-0">
									Address:
									<div class="row">
										Street: @Model.GetBuyerAddress(Item.Id).StreetAddress fcowmcw cp mpomc mw opmpwem m mdm cpmwocmwc mm ,
									</div>
									<div class="row">
										City: @Model.GetBuyerAddress(Item.Id).City, PostalCode: @Model.GetBuyerAddress(Item.Id).PostalCode,
									</div>
									<div class="row">
										District: @Model.GetBuyerAddress(Item.Id).District, Country: @Model.GetCountryName(Model.GetBuyerAddress(Item.Id).CountryId)
									</div>
									Receiver contacts:
									<div class="row">
										PhoneNumber: @Model.GetProductsOrder(Item.Id).ReceiverPhoneNumber, Email: @Model.GetProductsOrder(Item.Id).ReceiverEmail
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>