@page
@using Microsoft.AspNetCore.Identity
@using ArtHut.Data.Models;
@using ArtHut.Areas.Identity.Pages.Account
@using System.Globalization;
@inject UserManager<User> UserManager
@model ArtHut.Pages.OrdersModel
@{
}

<head>
	<link rel="stylesheet" href="~/css/Messages.css" asp-append-version="true" />
</head>
<div class="user_background container-fluid fontSul"></div>
<div class="container mycontainer">
	<div class="row justify-content-center  align-self-center border-bottom p-1"> <h4 class="justify-content-center  align-self-center d-flex m-0">Orders</h4> </div>
	<div class="row">
		<div class="col-3 d-flex flex-column ">
			<div class="justify-content-center align-self-center row">
				@if (@UserManager.GetUserAsync(User).Result.ProfilePic==null)
				{
					<img src="~/css/imgs/Profil_Img.jpg" class=" ProfileImg p-0" />
				}
				else
				{
					<img src="data:image/png;base64,@Convert.ToBase64String(@UserManager.GetUserAsync(User).Result.ProfilePic)" class=" ProfileImg p-0  " />
				}
			</div>
			<div class=" align-self-center row mt-2">
				@if (@User.Identity!.Name! != UserManager.GetUserId(User))
				{
					<p class="mt-5 fs-5 text-wrap fontSul">@User.Identity!.Name!</p>
				}
				else
				{
					<p class="mt-5 fs-5 text-wrap fontSul mb-2">An Arthut user</p>
				}
			</div>
			<div class=" align-self-center row fontSulLight ">
				<p>
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-geo-alt-fill color_red pb-1" viewBox="0 0 16 16">
						<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
					</svg>@RegionInfo.CurrentRegion.EnglishName
				</p>
			</div>

		</div>
		<form method="post" enctype="multipart/form-data" class="col-9">
			@foreach (var order in Model.Orders)
			{
				<div class="row bg-white mb-1">
					<a type="button" class="col ps-3 pt-2 pb-2 text-decoration-none" asp-area="" asp-page="/Order/OrderDetails" asp-route-id="@order.Id">
						<h5 class="mb-1 text-dark">@order.CreatedAt</h5>
						<p class="text-muted m-0">Price: €@order.Total</p>
					</a>
					<div class="col-1 justify-content-center  align-items-center d-flex trash">
						@*<button type="button" class="w-75 h-50" asp-route-id="@message.SenderId" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-senderId="@message.SenderId" data-bs-whatever="@UserManager.FindByIdAsync(message.SenderId).Result.UserName"></button>
						<input asp-for="MessageId" class="d-none" value="@message.Id" />
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-reply-fill  position-absolute" viewBox="0 0 16 16">
							<path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
						</svg>*@
					</div>
					<div class="col-1 justify-content-center  align-items-center d-flex trash">
						@*<button type="submit" asp-page-handler="Delete" asp-route-id="@message.Id" class="w-75 h-50 "></button>
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-x-circle-fill position-absolute" viewBox="0 0 16 16">
							<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
						</svg>*@
					</div>

				</div>
			}
		</form>
	</div>
</div>
