@page "{id}"
@using Microsoft.AspNetCore.Identity
@using ArtHut.Data.Models;
@using ArtHut.Areas.Identity.Pages.Account
@inject UserManager<User> UserManager
@model ArtHut.Pages.ProductModel
@{
	ViewData["Title"] = Model.Product.Name;
}
<head>
	<link rel="stylesheet" href="~/css/Product.css" asp-append-version="true" />
</head>

	
<body class="container-fluid p-0">
	<div class="container row d-flex justify-content-center align-self-center mycontainer ps-3 pe-3 mt-4">
		<div class="col-8  ">
			<div class="row" style="">
				<div class="col-1 p-0" style="width:80px;">
					<div class="row d-flex justify-content-center align-self-center mb-2">
						<a class="prev" onclick="plusSlides(-1)">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up" viewBox="0 0 16 16">
								<path d="M3.204 11h9.592L8 5.519 3.204 11zm-.753-.659 4.796-5.48a1 1 0 0 1 1.506 0l4.796 5.48c.566.647.106 1.659-.753 1.659H3.204a1 1 0 0 1-.753-1.659z" />
							</svg>
						</a>
					</div>

					@foreach (var photo in Model.ProductPhotos)
					{
						<div class="row  justify-content-center align-self-center mb-2 m-auto">
							<img class="demo cursor p-0" src="data:image/png;base64,@Convert.ToBase64String(photo.Bytes)" style="width: 80px; height: 80px;" onclick="currentSlide(1)" alt="Photo">
						</div>
					}

					<div class="row  d-flex justify-content-center align-self-center mt-2">
						<a class="next" onclick="plusSlides(1)">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
								<path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z" />
							</svg>
						</a>
					</div>
				</div>
				<div class="col  ms-3 p-0" style="width:560px; /*height:600px; */">

					@foreach (var photo in Model.ProductPhotos)
					{
						<div class="mySlides" style=" background-color: #f5f4f2;">
							<img src="data:image/png;base64,@Convert.ToBase64String(photo.Bytes)" style="height: auto; object-fit: contain; width: -webkit-fill-available; max-height: 600px;">
						</div>
					}

					<div class="caption-container d-none">
						<p id="caption"></p>
					</div>
				</div>
			</div>
			<div class="row" style="">
				<h5 class="mt-4 mb-3 fontSul">Original artwork description:</h5>
				<pre class="fontSulLight" style="white-space: pre-wrap;">
					@Model.Product.Description
				</pre>
			</div>
		</div>
		<div class="col-4 ps-4">
			<div class="row fontSul">
				<h4>@Model.Product.Name</h4>
			</div>
			<div class="row fontSulLight">
				<h6>
					<a class="color_change_red text-decoration-none mb-2" asp-page="/Shop" asp-route-category="@Model.ProductCategory.Name.ToLower()"> @Model.ProductCategory.Name</a>
					<br />
					<span>
						by<!-- --><a class="color_change_red text-decoration-none" asp-page="/Portfolio/Artworks" asp-page-handler="Artist" asp-route-artist="@Model.Product.UserId">
							@UserManager.FindByIdAsync(Model.Product.UserId).Result.FirstName @UserManager.FindByIdAsync(Model.Product.UserId).Result.LastName
						</a>
					</span>
				</h6>
			</div>

			@if (Model.Product.IsSold==null)
			{
				<div class="row fw-bold" style="font-size: 1.5rem!important;">
					<p>€@Convert.ToInt16(Model.Product.Price)</p>
				</div>
			}
			else
			{
				<div class="row fw-bold d-flex" style="font-size: 1.5rem!important;">
					<p class=" col-2  text-secondary text-decoration-line-through">€@Convert.ToInt16(Model.Product.Price)  </p>
					&nbsp; <p class="product-tag-sold col fontSul m-0" style="padding-top:4px;">Sold</p>
				</div>
			}

			<div class="fontSulLight">
				<ul class="row">
					@*<li><span><a href="/art/product_category-painting-oil/">Oil painting</a> <!-- -->on<!-- --> <!-- -->Canvas</span></li>*@
					<li>
						@if (Model.Product.Quantity == 1)
						{
							<span>One of a kind artwork</span>
						}
						else
						{
							<span>From a limited edition of @Model.Product.Quantity</span>
						}
					</li>
					<li><span>Size<!-- -->: <!-- -->@Model.Product.Size cm</span></li>
					@*<li><span>Signed on the front</span></li>*@
					@*<li><span>Style<!-- -->: <a href="/art/style-photorealistic/">Photorealistic</a></span></li>
					<li><span>Subject<!-- -->: <a href="/art/subject-flowers-plants/">Flowers and plants</a></span></li>*@
				</ul>
			</div>

			<form method="post" class="row">
				@if (Model.Product.IsSold==null)
				{
					<button type="submit" asp-page-handler="AddToCart" class="btn red_btn">Add to Basket</button>
				}
				else
				{
					<button type="submit" asp-page-handler="AddToCart" class="btn red_btn" disabled>Add to Basket</button>
				}
			</form>

		</div>
	</div>
	<div class="row pt-4 pb-4 ps-5 mt-5 me-0 " style="background-color: #f5f4f2;">
		<div class="col-2">

			@if (@UserManager.FindByIdAsync(Model.Product.UserId).Result.ProfilePic==null)
			{
				<img src="~/css/imgs/Profil_Img.jpg" class=" ProfileImg p-0  ms-3" />
			}
			else
			{
				<img src="data:image/png;base64,@Convert.ToBase64String(@UserManager.FindByIdAsync(Model.Product.UserId).Result.ProfilePic)" class=" ProfileImg p-0  ms-5" />
			}

		</div>
		<div class=" col d-grid ps-5">
			<a class=" row fontSul color_change_red text-decoration-none d-flex justify-content-start align-items-start mb-5 pt-2 " 
			asp-page="/Portfolio/Artworks" asp-page-handler="Artist" asp-route-artist="@Model.Product.UserId">

				@if (@UserManager.FindByIdAsync(Model.Product.UserId).Result.UserName != Model.Product.UserId)
				{
					<h3 class=" row">@UserManager.FindByIdAsync(Model.Product.UserId).Result.FirstName</h3>
					<h3 class=" row">@UserManager.FindByIdAsync(Model.Product.UserId).Result.LastName</h3>
				}
				else
				{
					<div class=" row">An Arthut user</div>
				}

			</a>
			<div class=" row ">
				<button type="button" class="justify-content-center align-self-center row d-flex btn dark_btn shadow-none"
						style="width: 190px;" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-whatever="@UserManager.FindByIdAsync(Model.Product.UserId).Result.FirstName
				@UserManager.FindByIdAsync(Model.Product.UserId).Result.LastName">
					Contact me
				</button>
			</div>

		</div>
	</div>

	<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered">
			<form method="post" enctype="multipart/form-data" class="modal-content myModal fontSul">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Contact</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body fontSul">
					<div>
						<div class="mb-3">
							<label asp-for="MessageInput.Subject" class="control-label"></label>
							<input asp-for="MessageInput.Subject" class="form-control border-0 rounded-0 pt-2 pb-2 fontSulLight shadow-none" />
							<span asp-validation-for="MessageInput.Subject" class="text-danger"></span>
						</div>
						<div class="mb-3">
							<label asp-for="MessageInput.Message" class="control-label"></label>
							<textarea asp-for="MessageInput.Message" class="form-control text-box multi-line  border-0 textarea rounded-0 fontSulLight shadow-none"
		                         type="text" TextWrapping="Wrap" AcceptsReturn="True" VerticalScrollBarVisibility="Visible" style="height:250px;"></textarea>
							<span asp-validation-for="MessageInput.Message" class="text-danger"></span>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary fontSulLight shadow-none" data-bs-dismiss="modal">Close</button>
					<button type="submit" asp-page-handler="Send" class="btn red_btn fontSulLight shadow-none">Send</button>
				</div>
			</form>
		</div>
	</div>
</body>


@section Scripts
	{
	<script>
		const exampleModal = document.getElementById('Modal')
		exampleModal.addEventListener('show.bs.modal', event => {
			const button = event.relatedTarget
			const recipient = button.getAttribute('data-bs-whatever')
			const modalTitle = exampleModal.querySelector('.modal-title')
			const modalBodyInput = exampleModal.querySelector('.modal-body input')

			modalTitle.textContent = `Contact ${recipient}`
		})
	</script>
	<script type="text/javascript" language="javascript">
		let slideIndex = 1;
		showSlides(slideIndex);
		currentSlide(slideIndex);

		function plusSlides(n) {
			showSlides(slideIndex += n);
			currentSlide(slideIndex);
		}

		function currentSlide(n) {
			showSlides(slideIndex = n);
			let dots = document.getElementsByClassName("demo");
			if (dots.length > 4) {
				if (n < 4) {
					for (i = 0; i < dots.length; i++) {
						dots[i].style.display = "none";
					}
					dots[0].style.display = "block";
					dots[1].style.display = "block";
					dots[2].style.display = "block";
					dots[3].style.display = "block";
				}
				else if (n < 8 && n >= 4) {
					for (i = 0; i < dots.length; i++) {
						dots[i].style.display = "none";
					}
					dots[3].style.display = "block";
					dots[4].style.display = "block";
					dots[5].style.display = "block";
					dots[6].style.display = "block";
				}
				else if (n < 12 && n >= 8) {
					for (i = 0; i < dots.length; i++) {
						dots[i].style.display = "none";
					}
					dots[7].style.display = "block";
					dots[8].style.display = "block";
					dots[9].style.display = "block";
					dots[10].style.display = "block";
				}
			}
		}

		function showSlides(n) {
			let i;
			let slides = document.getElementsByClassName("mySlides");
			let dots = document.getElementsByClassName("demo");
			let captionText = document.getElementById("caption");
			if (n > slides.length) { slideIndex = 1 }
			if (n < 1) { slideIndex = slides.length }
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";
			}
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex - 1].style.display = "block";
			dots[slideIndex - 1].className += " active";
			captionText.innerHTML = dots[slideIndex - 1].alt;
		}
	</script>
	}