@page "{artist}/{category?}"
@using Microsoft.AspNetCore.Identity;
@using ArtHut.Data.Models;
@using ArtHut.Areas.Identity.Pages.Account;
@using System.Globalization;
@using ArtHut.Business.Services.Interfaces;
@inject UserManager<User> UserManager;
@inject IProductService ProductService;
@model ArtHut.Pages.Portfolio.ArtworksModel
@{
	ViewData["ActivePage"] = PortfolioNavPages.Artworks;
	ViewData["Artworks"] = ProductService.GetAll().Result.Where(x => x.CreatedAt!=null && x.UserId == ViewData["User"].ToString()).Count();
}
<head>
	<link rel="stylesheet" href="~/css/Portfolio.css" asp-append-version="true" />
</head>

<section class="container-fluid artist p-0 row m-0">
	<div class="col justify-content-center align-items-centerp d-flex ps-5">
		<div class="justify-content-center align-self-center row d-flex ps-5">
			@if (ViewData["User"].ToString() != UserManager.GetUserAsync(User)?.Result.Id)
			{
				<div class="justify-content-center align-self-center row d-flex ProfileImg" style="height:120px; width:120px;">
					@if (@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.ProfilePic==null)
					{
						<img src="~/css/imgs/Profil_Img.jpg" class=" ProfileImg p-0  " />
					}
					else
					{
						<img src="data:image/png;base64,@Convert.ToBase64String(UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.ProfilePic)" class=" ProfileImg p-0  " />
					}
				</div>
			}
			else
			{
				<form method="post" enctype="multipart/form-data" asp-page-handler="ProfileImgUpdate" class="justify-content-center align-self-center row d-flex ProfileImg " style="height:120px;  width:120px;" id="formImg">
					@if (@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.ProfilePic==null)
					{
						<img src="~/css/imgs/Profil_Img.jpg" class=" ProfileImg p-0  " />
					}
					else
					{
						<img src="data:image/png;base64,@Convert.ToBase64String(@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.ProfilePic)" class=" ProfileImg p-0  " />
					}
					
					<label asp-for="@Model.ProfileImg" class=" ProfileImg justify-content-center align-self-center d-flex ">
						<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square ProfileImg" viewBox="0 0 16 16">
							<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
							<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
						</svg>
					</label>
					<input type="file" asp-for="@Model.ProfileImg" class="ProfileImg" accept="image/*" id="ImgUpload" />

				</form>
			}
			
			<div class=" justify-content-center align-self-center align-items-center row d-flex">
				@if (@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.UserName != ViewData["User"].ToString())
				{
					<p class="mt-3 fs-5 text-wrap fontGB justify-content-center align-self-center d-flex">@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.UserName</p>
				}
				else
				{
					<p class="mt-3 fs-5 text-wrap fontGB justify-content-center align-self-center d-flex">An Arthut user</p>
				}
			</div>

			<button type="button" class="justify-content-center align-self-center row d-flex btn dark_btn mb-3 shadow-none" style="width: 190px;" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-whatever="@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.FirstName @UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.LastName">
				Commission artwork
			</button>
			<label class="justify-content-center align-self-center row d-flex fontSulLight">Joined Arthut: @UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.CreatedAt.ToString("MMMM", new CultureInfo("en-GB")) @UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.CreatedAt.Year</label>
			<label class="justify-content-center align-self-center row d-flex fontSulLight">Artworks for sale: @ViewBag.Artworks </label>

			<div class=" justify-content-center align-items-center row fontSulLight d-flex">
				<p class="justify-content-center align-self-center d-flex">
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="20" fill="currentColor" class="bi bi-geo-alt-fill color_red pb-1" viewBox="0 0 16 16">
						<path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
					</svg>@RegionInfo.CurrentRegion.EnglishName
				</p>
			</div>
		</div>
	</div>
	<div class="col justify-content-end  align-items-end d-flex p-0">
		@*<img src="~/css/imgs/2cd3214367c8470ba3143106415a463f.png" class=" pic align-self-end" />*@
		@if (ViewData["User"].ToString() != UserManager.GetUserAsync(User)?.Result.Id)
		{
			<div class="justify-content-center align-self-center row d-flex PortfolioImg" >
				@if (@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.PortfolioPic==null)
				{
					<img src="~/css/imgs/2cd3214367c8470ba3143106415a463f.png" class=" pic align-self-end" />
				}
				else
				{
					<img src="data:image/png;base64,@Convert.ToBase64String(@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.PortfolioPic)" class=" pic align-self-end" />
				}
			</div>
		}
		else
		{
			<form method="post" enctype="multipart/form-data" asp-page-handler="PortfolioImgUpdate" class="PortfolioImg justify-content-center align-items-center d-flex" id="PortfolioImgForm">
				@if (@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.PortfolioPic==null)
				{
					<img src="~/css/imgs/2cd3214367c8470ba3143106415a463f.png" class=" pic align-self-end" />
				}
				else
				{
					<img src="data:image/png;base64,@Convert.ToBase64String(@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.PortfolioPic)" class=" pic align-self-end" />
				}

				<label asp-for="@Model.ProfileImg" class=" ProfileImg justify-content-center align-self-center d-flex PortfolioImg position-absolute">
					<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-pencil-square PortfolioImg" viewBox="0 0 16 16">
						<path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
						<path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
					</svg>
				</label>
				<input type="file" asp-for="@Model.PortfolioImg" class="PortfolioImg " accept="image/*" id="PortfolioImgUpload" style="margin-top:5rem;" />

			</form>
		}
	</div>
</section>

<div class="row me-0 pt-2 pb-2">
	<div class="col justify-content-center align-items-center">
		<ul class="nav nav-pills fontSul justify-content-center align-items-centerp ps-2">
			<li class="nav-item"><a class="nav-link text-black " asp-route-artist="@RouteData.Values["artist"]" asp-page="./Artworks">Artworks</a></li>
			<li class="nav-item"><a class="nav-link text-black " asp-route-artist="@RouteData.Values["artist"]" asp-page="./Artworks">About Me</a></li>
			<li class="nav-item"><a class="nav-link text-black " asp-route-artist="@RouteData.Values["artist"]" asp-page="./Artworks">About My Work</a></li>
		</ul>
	</div>
	<div class="col justify-content-center align-items-center">
		<button class="justify-content-center align-self-center d-flex btn red_btn m-auto shadow-none" data-bs-toggle="modal" data-bs-target="#Modal" data-bs-whatever="@UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.FirstName @UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.LastName">Contact me</button>
	</div>
</div>
<div class="row blue_row justify-content-center align-items-center d-flex container-fluid m-0 mb-4" style="">
	<label class="fontGB display-5 justify-content-center align-self-center d-flex">
		Artworks by @UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.FirstName @UserManager.FindByIdAsync(ViewData["User"].ToString()).Result.LastName
	</label>
</div>
<div class="justify-content-center align-self-center  container " style=" position: inherit;">
	<div class="ps-5  row justify-content-center align-self-center m-auto" style="padding-right: 5rem!important;">
		<div class="col-md-3 " style="font-size: 1.05rem!important;">
			<p class="col-md-3 mb-4 fontSul">Categories</p>
			<div class=" fontSulLight " style="padding-left: 30px;">
				@foreach (var category in Model.Categories)
				{
					<div class="form-check category-list" style="position: relative;">
						<label class="form-check-label shadow-none " for="@category.Name.ToLower()"><a class="text-dark text-decoration-none  pb-4" asp-page="/Portfolio/Artworks" asp-page-handler="Artist" asp-route-artist="@ViewData["User"].ToString()" asp-route-category="@category.Name.ToLower()" style="position: absolute; top: 0; left: 0; right: 0; bottom: 0; ">@category.Name</a></label>
						<input input class="form-check-input shadow-none pe-3" type="radio" name="flexRadio" id="@category.Name.ToLower()" value="@category.Name" asp-for="@Model.CategoryId" onchange="Category();" style="position: relative; right: 30px;">
					</div>
				}
			</div>
		</div>

		<div class="col-md-9">
			<div class="items row">
				<div class="col ps-1 pe-1">
					@if (Model.Products.Count==0)
					{
						<p class=" fontSul justify-content-center align-self-center d-flex row">Products are not found</p>
					}
					@foreach (var product in Model.ProductsCol1)
					{
						<div class="card mb-2">
							<img class="card-img-top" src="data:image/png;base64,@Convert.ToBase64String(Model.GetProductMainImg(product.Id))" alt="Product image">
							<div class="card-body  ">
								<div class=" fontSulLight " style="font-size: 1.1rem!important;">
									<p class="card-title m-0 text-muted ">@UserManager.FindByIdAsync(product.UserId).Result.FirstName @UserManager.FindByIdAsync(product.UserId).Result.LastName</p>
									<p class="card-text m-0 text-muted">@product.Name</p>
								</div>
								<div class="row d-flex">
									@if (product.IsSold==null)
									{
										<div class="col  justify-content-start align-items-start d-flex" style="font-size: 1.15rem!important;">

											<p class="fw-bold m-0">
												€@Convert.ToInt16(product.Price)
											</p>
										</div>
										<form method="post" class="col justify-content-end align-items-end d-flex">
											<button type="submit" asp-page-handler="AddToCart" asp-route-productId="@product.Id" class=" border-0 bg-white position-relative" style="z-index:5; color_change_red">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3-fill color_change_red mb-1" viewBox="0 0 16 16">
													<path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z" />
												</svg>
											</button>
										</form>
									}
									else
									{
										<div class="col justify-content-start align-items-start d-flex" style="font-size: 1.15rem!important;">

											<p class="fw-bold m-0 text-secondary text-decoration-line-through">
												€@Convert.ToInt16(product.Price)
											</p>
											&nbsp; &nbsp;
											<p class="product-tag-sold  fontSul m-0" style="padding-top:2px;">Sold</p>
										</div>
									}
								</div>
							</div>
							<a class="h-100 w-100 position-absolute" style="z-index:1;" asp-area="" asp-route-id="@product.Id" asp-page="/Product"></a>
						</div>
					}

				</div>
				<div class="col ps-1 pe-1">
					@foreach (var product in Model.ProductsCol2)
					{
						<div class="card mb-2">
							<img class="card-img-top" src="data:image/png;base64,@Convert.ToBase64String(Model.GetProductMainImg(product.Id))" alt="Product image">
							<div class="card-body  ">
								<div class=" fontSulLight " style="font-size: 1.1rem!important;">
									<p class="card-title m-0 text-muted ">@UserManager.FindByIdAsync(product.UserId).Result.FirstName @UserManager.FindByIdAsync(product.UserId).Result.LastName</p>
									<p class="card-text m-0 text-muted">@product.Name</p>
								</div>
								<div class="row d-flex">
									@if (product.IsSold==null)
									{
										<div class="col  justify-content-start align-items-start d-flex" style="font-size: 1.15rem!important;">

											<p class="fw-bold m-0">
												€@Convert.ToInt16(product.Price)
											</p>
										</div>
										<form method="post" class="col justify-content-end align-items-end d-flex">
											<button type="submit" asp-page-handler="AddToCart" asp-route-productId="@product.Id" class=" border-0 bg-white position-relative" style="z-index:5; color_change_red">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3-fill color_change_red mb-1" viewBox="0 0 16 16">
													<path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z" />
												</svg>
											</button>
										</form>
									}
									else
									{
										<div class="col justify-content-start align-items-start d-flex" style="font-size: 1.15rem!important;">

											<p class="fw-bold m-0 text-secondary text-decoration-line-through">
												€@Convert.ToInt16(product.Price)
											</p>
											&nbsp; &nbsp;
											<p class="product-tag-sold  fontSul m-0" style="padding-top:2px;">Sold</p>
										</div>
									}
								</div>
							</div>
							<a class="h-100 w-100 position-absolute" style="z-index:1;" asp-area="" asp-route-id="@product.Id" asp-page="/Product"></a>
						</div>
					}
				</div>
				<div class="col ps-1 pe-1">
					@foreach (var product in Model.ProductsCol3)
					{
						<div class="card mb-2">
							<img class="card-img-top" src="data:image/png;base64,@Convert.ToBase64String(Model.GetProductMainImg(product.Id))" alt="Product image">
							<div class="card-body  ">
								<div class=" fontSulLight " style="font-size: 1.1rem!important;">
									<p class="card-title m-0 text-muted ">@UserManager.FindByIdAsync(product.UserId).Result.FirstName @UserManager.FindByIdAsync(product.UserId).Result.LastName</p>
									<p class="card-text m-0 text-muted">@product.Name</p>
								</div>
								<div class="row d-flex">
									@if (product.IsSold==null)
									{
										<div class="col  justify-content-start align-items-start d-flex" style="font-size: 1.15rem!important;">

											<p class="fw-bold m-0">
												€@Convert.ToInt16(product.Price)
											</p>
										</div>
										<form method="post" class="col justify-content-end align-items-end d-flex">
											<button type="submit" asp-page-handler="AddToCart" asp-route-productId="@product.Id" class=" border-0 bg-white position-relative" style="z-index:5; color_change_red">
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket3-fill color_change_red mb-1" viewBox="0 0 16 16">
													<path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5v-1A.5.5 0 0 1 .5 6h1.717L5.07 1.243a.5.5 0 0 1 .686-.172zM2.468 15.426.943 9h14.114l-1.525 6.426a.75.75 0 0 1-.729.574H3.197a.75.75 0 0 1-.73-.574z" />
												</svg>
											</button>
										</form>
									}
									else
									{
										<div class="col justify-content-start align-items-start d-flex" style="font-size: 1.15rem!important;">

											<p class="fw-bold m-0 text-secondary text-decoration-line-through">
												€@Convert.ToInt16(product.Price)
											</p>
											&nbsp; &nbsp;
											<p class="product-tag-sold  fontSul m-0" style="padding-top:2px;">Sold</p>
										</div>
									}
								</div>
							</div>
							<a class="h-100 w-100 position-absolute" style="z-index:1;" asp-area="" asp-route-id="@product.Id" asp-page="/Product"></a>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</div>





<div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<form method="post" enctype="multipart/form-data" class="modal-content myModal fontSul">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Contact</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body fontSul">
				<div>
					<div class="mb-3">
						<label asp-for="MessageInput.Subject" class="control-label"></label>
						<input asp-for="MessageInput.Subject" class="form-control border-0 rounded-0 pt-2 pb-2 fontSulLight shadow-none" />
						<span asp-validation-for="MessageInput.Subject" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="MessageInput.Message" class="control-label"></label>
						<textarea asp-for="MessageInput.Message" class="form-control text-box multi-line  border-0 textarea rounded-0 fontSulLight shadow-none"
								  type="text" TextWrapping="Wrap" AcceptsReturn="True" VerticalScrollBarVisibility="Visible" style="height:250px;"></textarea>
						<span asp-validation-for="MessageInput.Message" class="text-danger"></span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary fontSulLight shadow-none" data-bs-dismiss="modal">Close</button>
				<button type="submit" asp-page-handler="Send" class="btn red_btn fontSulLight shadow-none">Send</button>
			</div>
		</form>
	</div>
</div>

@section Scripts
	{
<script>
		const exampleModal = document.getElementById('Modal')
	exampleModal.addEventListener('show.bs.modal', event => {
	  // Button that triggered the modal
	  const button = event.relatedTarget
	  // Extract info from data-bs-* attributes
	  const recipient = button.getAttribute('data-bs-whatever')
	  // If necessary, you could initiate an AJAX request here
	  // and then do the updating in a callback.
	  //
	  // Update the modal's content.
	  const modalTitle = exampleModal.querySelector('.modal-title')
	  const modalBodyInput = exampleModal.querySelector('.modal-body input')

	  modalTitle.textContent = `Contact ${recipient}`
	  //modalBodyInput.value = recipient
	})
</script>

<script>
	Category();
	function Category(){
		let RadioNodeList = document.getElementsByClassName("form-check-input");
		RadioNodeList[@Model.CategoryId-1].checked = true;
	   }
</script>

	<script>
		document.getElementById("ImgUpload").addEventListener("change", function (event) {
			document.getElementById("formImg").submit(); 
		});
	</script>
	<script>
		document.getElementById("PortfolioImgUpload").addEventListener("change", function (event) {
			document.getElementById("PortfolioImgForm").submit();
		});
	</script>

	}